.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.headline {
    font-size: 40px;
    font-weight: bold;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #2c3e50;
    text-decoration: none;
    margin-bottom: 1%;
    margin-top: 1%;
}

.seperator-header {
    border: 3px solid #EBEBEB;
    border-left: none;
    border-right: none;
    width: 100%;
}

